version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "07:00"
      timezone: "Asia/Taipei"
    commit-message:
      prefix: "chore"

  - package-ecosystem: "pnpm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "07:00"
      timezone: "Asia/Taipei"
    open-pull-requests-limit: 5
    commit-message:
      prefix: "chore"

  - package-ecosystem: "pnpm"
    directory: "/frontend"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "07:00"
      timezone: "Asia/Taipei"
    open-pull-requests-limit: 5
    commit-message:
      prefix: "chore"

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "07:00"
      timezone: "Asia/Taipei"
    commit-message:
      prefix: "chore"
